.logo-container {
    z-index: -9999;
    width: 400px;
    height: 609px;
    opacity: 0;
    position: absolute;
    top: 0;
    right: 20%;
    bottom: 0;
    left: auto;
    margin: auto;

    svg {
        width: 100%;
        height: auto;
        bottom: 0;
        transform: rotateZ(30deg) !important;
    }

    .solid-logo {
        position: absolute;
        top: auto;
        right: auto;
        bottom: auto;
        left: 0;
        margin: auto;
        width: 150%;
        opacity: 0;
        transform: rotateZ(-30deg);
        animation: rotateCounterclockwise 15s infinite linear;
    }
    
    @keyframes rotateCounterclockwise {
        from {
            transform: rotateZ(0deg);
        }
        to {
            transform: rotateZ(-360deg);
        }
    }

    @keyframes rotateCounterclockwise {
        0%, 100% {
            transform: rotateZ(0deg);
        }
        50% {
            transform: rotateZ(-60deg);
        }
    }
}

@media (max-width: 768px) {
    /* Estilos específicos para telas com largura máxima de 768 pixels (telas móveis) */
    .logo-container {
        width: 80%; /* Você pode ajustar conforme necessário */
        right: 10%; /* Você pode ajustar conforme necessário */
        left: 10%; /* Você pode ajustar conforme necessário */
    }
}
