.page {
    width: 100%;
    height: 100%;
    position: absolute;
}

.top-tags {
    bottom: auto;
    top: 35px;
}

.tags {
    color: #FFEEDB;
    opacity: 0.6;
    position: absolute;
    bottom: 0;
    left: 120px;
    font-size: 15px;
    font-family: 'Cousine';
    animation: fadeIn 1s 1.7s backwards;
}

.top-tag-html,
.bottom-tag-html {
    margin-left: -20px;
}

.container {
    width: 100%;
    will-change: contents;
    height: 90%;
    min-height: 566px;
    position: absolute;
    opacity: 0;
    top: 5%;
    margin: 0 auto;
    z-index: 1;
    transform-style: preserve-3d;
    animation: fadeIn 1s forwards;
    animation-delay: 1s;;
}

.about-page,
.contact-page {
    h1 {
        font-size: 53px;
        font-family: 'Coolvetica';
        color: #57CC99;
        font-weight: 400;
        margin-top: 0;
        position: relative;
        margin-bottom: 40px;
        left: 10px;

        &::before {
            content: '<h1>';
            font-family: 'Cousine';
            font-size: 15px;
            position: absolute;
            margin-top:  -10px;
            left: -10px;
            opacity: 0.6;
            line-height: 18px;
            color: #FFEEDB;
            animation: fadeIn 1s 1.7s backwards;
        }

        &::after {
            content: '</h1>';
            font-family: 'Cousine';
            font-size: 15px;
            line-height: 18px;
            position: absolute;
            left: -30px;
            bottom: -20px;
            margin-left: 20px;
            opacity: 0.6;
            color: #FFEEDB;
            animation: fadeIn 1s 1.7s backwards;
        }
    }

    p {
        font-size: 13px;
        color: #fff;
        font-family: sans-serif;
        font-weight: 300;
        min-width: fit-content;
        animation: pulse 1s;

        &:nth-of-type(1) {
            animation-delay: 1.1s;
        }

        &:nth-of-type(2) {
            animation-delay: 1.2s;
        }

        &:nth-of-type(3) {
            animation-delay: 1.3s;
        }
    }

    .text-zone {
        position: absolute;
        left: 10%;
        top: 50%;
        transform: translateY(-50%);
        width: 35%;
        vertical-align: middle;
        display: table-cell;
        max-height: 90%;
    }

    .text-animate-hover {
        &:hover {
            color: #fff;
        }
    }
}

.info-map {
    position: absolute;
    background-color: #011638;
    top: 50px;
    right: 30%;
    z-index: 999999;
    width: 276px;
    padding: 20px;
    color: #fff;
    font-family: 'Helvetica';
    font-size: 17px;
    font-weight: 300;
    opacity: 0;
    animation: fadeIn 1s 1.5s;
    animation-fill-mode: forwards;

    span {
        font-size: 16px;
        display: block;
        padding-top: 20px;
        color: #57CC99;
    }
}

.map-wrap {
    background: rgba(8, 253, 216, 0.1);
    float: right;
    width: 53%;
    height: 100%;
}

.leaflet-container {
    width: 100%;
    height: 100%;
    position: relative;
    opacity: 0;
    animation: backInRight 1s 1.2s;
    animation-fill-mode: forwards;
}